In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.core.debugger import set_trace

In [27]:
fonte = 'C:\Workspace\dadosCEFortaleza.csv'

dados = pd.read_csv(fonte, encoding = "ISO-8859-1", sep = ',') # 'dados' é um dataframe
dados.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001007013,2019,2304400,Fortaleza,23,CE,22,F,1,0,...,B,A,A,B,A,A,D,A,A,B
1,190001015395,2019,2304400,Fortaleza,23,CE,20,M,1,3,...,A,A,A,B,B,A,C,A,A,A
2,190001037184,2019,2304400,Fortaleza,23,CE,27,M,1,1,...,A,A,A,B,B,A,E,A,B,A
3,190001044225,2019,2304400,Fortaleza,23,CE,57,F,3,3,...,A,B,A,B,A,A,B,A,A,A
4,190001059914,2019,2304400,Fortaleza,23,CE,18,M,1,1,...,A,A,A,B,A,A,B,A,A,A

# Tipos de Dados - Quais serão utilizados?

In [28]:
dados['Q006'].value_counts(normalize= True) # Valores de Renda

C    0.307709
B    0.283400
D    0.080780
E    0.075490
G    0.041731
F    0.032674
H    0.028991
A    0.027725
I    0.023468
J    0.015592
Q    0.015581
N    0.013697
O    0.012761
P    0.011899
K    0.010717
M    0.009057
L    0.008727
Name: Q006, dtype: float64

In [29]:
dados['Q002'].value_counts(normalize= True) # Valores de Escolaridade

E    0.290829
D    0.163092
B    0.144925
C    0.139433
F    0.091093
G    0.071606
H    0.062559
A    0.036463
Name: Q002, dtype: float64

In [30]:
dados['Q010'].value_counts(normalize = True) # Valores de Locomoção

A    0.656925
B    0.258102
C    0.069243
D    0.012654
E    0.003076
Name: Q010, dtype: float64

In [31]:
dados['Q025'].value_counts(normalize = True) # Valores de Internet

B    0.779819
A    0.220181
Name: Q025, dtype: float64

In [32]:
dados['TP_ESCOLA'].value_counts(normalize = True) # Valores de Locomoção

1    0.663183
2    0.273492
3    0.063325
Name: TP_ESCOLA, dtype: float64

In [33]:
dados['Q004'].value_counts(normalize = True) # Valores de Ocupação

B    0.471897
D    0.190849
C    0.106695
F    0.106674
A    0.074128
E    0.049756
Name: Q004, dtype: float64

# Criando novas colunas!

In [34]:
# Definindo Notas e Médias
provas = ["NU_NOTA_CN","NU_NOTA_CH","NU_NOTA_MT","NU_NOTA_LC","NU_NOTA_REDACAO"]
dados['NU_NOTA_TOTAL'] = dados[provas].sum(axis=1) #Criando uma nova coluna com as somas totais das notas POR ALUNO, ou seja, somar cada linha
provas.append('NU_NOTA_TOTAL')
dados['NU_NOTA_MEDIA'] = dados['NU_NOTA_TOTAL']/5

In [35]:
def organizar_Grupos_Notas():
    vetorGrupoNotas = []
    for notasMedias in dados['NU_NOTA_MEDIA']:
        if ((notasMedias >= 0.0) & (notasMedias <= 400.0)):
            vetorGrupoNotas.append('N1')
        elif ((notasMedias > 400) & (notasMedias <= 600)):
            vetorGrupoNotas.append('N2')
        elif ((notasMedias > 600) & (notasMedias <= 800)):
            vetorGrupoNotas.append('N3')
        else:
            vetorGrupoNotas.append('N4')
    dados['NU_MEDIA_GRUPO'] = vetorGrupoNotas

In [36]:
def organizar_Grupos_Renda():
    vetorGrupoRenda = []
    for valorRenda in dados['Q006']:
        if (valorRenda == 'A') | (valorRenda == 'B'):
            vetorGrupoRenda.append('R1')
        elif(valorRenda == 'C'):
            vetorGrupoRenda.append('R2')
        elif(valorRenda == 'D') | (valorRenda == 'E') |(valorRenda == 'F') |(valorRenda == 'G') |(valorRenda == 'H') |(valorRenda == 'I')|(valorRenda == 'J'):
            vetorGrupoRenda.append('R3')
        else:
            vetorGrupoRenda.append('R4')
    dados['RENDA_GRUPO'] = vetorGrupoRenda

In [37]:
def organizar_Grupos_Escolaridade():
    vetorGrupoEscolaridade = []
    for identificadorEscolaridade in dados['Q002']:
        if (identificadorEscolaridade == 'A') | (identificadorEscolaridade == 'B'):
            vetorGrupoEscolaridade.append('E1')
        elif (identificadorEscolaridade == 'C') | (identificadorEscolaridade == 'D'):
            vetorGrupoEscolaridade.append('E2')
        elif (identificadorEscolaridade == 'E'):
            vetorGrupoEscolaridade.append('E3')
        else:
            vetorGrupoEscolaridade.append('E4')
    dados['ESCOLARIDADE_GRUPO'] = vetorGrupoEscolaridade

In [38]:
def organizar_Grupos_Locomocao():
    vetorGrupoLomocao = []
    for identificadorLocomocao in dados['Q010']:
        if (identificadorLocomocao == 'A'):
            vetorGrupoLomocao.append('L1')
        elif (identificadorLocomocao == 'B'):
            vetorGrupoLomocao.append('L2')
        else:
            vetorGrupoLomocao.append('L3')
    dados['LOCOMOCAO_GRUPO'] = vetorGrupoLomocao

In [39]:
def organizar_Grupos_Intenet(): 
    vetorGrupoInternet = []
    for identificadorInternet in dados['Q025']:
        if (identificadorInternet == 'A'):
            vetorGrupoInternet.append('I0')
        else:
            vetorGrupoInternet.append('I1')
    dados['INTERNET_GRUPO'] = vetorGrupoInternet

In [40]:
# Organizando todas as Colunas em novas colunas GRUPOS (são colunas representativas)
organizar_Grupos_Notas()
organizar_Grupos_Renda()
organizar_Grupos_Escolaridade()
organizar_Grupos_Locomocao()
organizar_Grupos_Intenet()
dados.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q023,Q024,Q025,NU_NOTA_TOTAL,NU_NOTA_MEDIA,NU_MEDIA_GRUPO,RENDA_GRUPO,ESCOLARIDADE_GRUPO,LOCOMOCAO_GRUPO,INTERNET_GRUPO
0,190001007013,2019,2304400,Fortaleza,23,CE,22,F,1,0,...,A,A,B,0.0,0.00,N1,R3,E3,L1,I1
1,190001015395,2019,2304400,Fortaleza,23,CE,20,M,1,3,...,A,A,A,2346.6,469.32,N2,R2,E2,L1,I0
2,190001037184,2019,2304400,Fortaleza,23,CE,27,M,1,1,...,A,B,A,3142.8,628.56,N3,R3,E3,L2,I0
3,190001044225,2019,2304400,Fortaleza,23,CE,57,F,3,3,...,A,A,A,0.0,0.00,N1,R1,E3,L1,I0
4,190001059914,2019,2304400,Fortaleza,23,CE,18,M,1,1,...,A,A,A,2883.9,576.78,N2,R2,E3,L1,I0

In [41]:
# Agregando todas as novas colunas em uma única coluna String para unir informações
dados['GRUPO_TOTAL'] = dados['NU_MEDIA_GRUPO']+ dados['RENDA_GRUPO'] + dados['ESCOLARIDADE_GRUPO'] + dados['LOCOMOCAO_GRUPO'] + dados['INTERNET_GRUPO']

# Apriori - Parte 1

In [42]:
# Função Apriori que define os primeiros números e depois passa pelos menos número com % de suporte.
def aprioriNivel1(): 
   
    #nível 1
    vetorK = {}
   
    for transicao in dados['GRUPO_TOTAL']:
        # Checando Notas
        if transicao[:2] in vetorK:
            vetorK[transicao[:2]] += 1
        else:
            vetorK[transicao[:2]] = 1
            
        #Checando Renda
        if transicao[2:4] in vetorK:
            vetorK[transicao[2:4]] += 1
        else:
            vetorK[transicao[2:4]] = 1
            
        #Checando Escolaridade    
        if transicao[4:6] in vetorK:
            vetorK[transicao[4:6]] += 1
        else:
            vetorK[transicao[4:6]] = 1
            
        #Checando Locomocao    
        if transicao[6:8] in vetorK:
            vetorK[transicao[6:8]] += 1
        else:
            vetorK[transicao[6:8]] = 1
            
        #Checando Internet
        if transicao[8:10] in vetorK:
            vetorK[transicao[8:10]] += 1
        else:
            vetorK[transicao[8:10]] = 1
    
    
        
    print(vetorK) 
    return vetorK

In [43]:
# Definindo suporte e confiança
suporte = 0.50
confianca = 0.70

In [58]:
vetorK =  aprioriNivel1()

{'N1': 27055, 'R3': 28068, 'E3': 27326, 'L1': 61724, 'I1': 73271, 'N2': 48570, 'R2': 28912, 'E2': 28425, 'I0': 20688, 'N3': 18309, 'L2': 24251, 'R1': 29233, 'E1': 17043, 'E4': 21165, 'R4': 7746, 'L3': 7984, 'N4': 25}

In [64]:
vetorK

{'L1': 61724, 'I1': 73271, 'N2': 48570}

In [61]:
# Criando primeiro nível com suporte
vetorSuporte = []
def verificadorSuporte(vetorKitems):
    #set_trace()
    for key in vetorKitems:
        if (vetorKitems[key]/93959) < suporte:
            excluidos.append(key)
    for ex in excluidos:
        vetorSuporte.pop(ex)
    return vetorSuporte

In [62]:
vetorK_suporte = verificadorSuporte(vetorK) # transformando todo o vetorK que possui várias chaves em só aquelas que passam no suporte
len(vetorK)

3

In [63]:
vetorK_suporte

{'L1': 61724, 'I1': 73271, 'N2': 48570}

In [48]:
# função que transforma a lista de string em um vetor de string organizadas
def transformarVetorChar(listaChar):
    vetorUnitario = []
    count = 0
    tamanhoLoop = int(len(listaChar)/2)
    #set_trace()
    for i in range(0, tamanhoLoop):
        unidade = listaChar[count]+ listaChar[count+1]
        vetorUnitario.append(unidade)
        count += 2
    return vetorUnitario

# Apriori - Parte 2

In [49]:
# criando segundo nível
vetorK2 = {}
vetorTemp = []

# criando k+1 items a partir do vetork passado com o suporte x%
def aprioriNivel2():
    boo = False
    for transicao in vetorK:
        #set_trace()
        for eleito in vetorK:
            if transicao == eleito:
                continue
            else:
                vetorK2[transicao+eleito] = 0
# transformando dados para comparar chaves e números
    for transicaoGrupoTotal in dados['GRUPO_TOTAL']:
        teste = transformarVetorChar(list(transicaoGrupoTotal))
        vetorTemp.append(transformarVetorChar(list(transicaoGrupoTotal)))

# Comparando chaves com vetores
        
        chaves = list(vetorK2.keys()) 
        for chave in chaves:
            count = 0
            chaveTransformada = transformarVetorChar(chave)
            #set_trace()
            for chaveT in chaveTransformada:
                if chaveT in teste:
                    count +=1
                else:
                    break
            if count == 2:
                vetorK2[chave] += 1

In [50]:
aprioriNivel2()

In [56]:
vetorK2

{}

In [54]:
vetorK2_suporte = verificadorSuporte(vetorK2)

In [55]:
vetorK2_suporte

{}